<div class="index">
  <p>Users: </p>
  <div class="table-search-spinner" *ngIf="loading | async">
    <mat-spinner class="obs-mat-spinner"
      [diameter]="100"
      [strokeWidth]="5">
    </mat-spinner>
  </div>

  <div *ngFor="let user of users"
    fxLayout="row wrap" 
    fxLayoutAlign="space-around center"
    fxLayout.xs="column wrap" 
    fxLayoutWrap 
    fxLayoutGap="5%">  
    <a [routerLink]="['/users', user.id]">
      <mat-card class="user-card">
        {{user|json}}
        <mat-card-header>        
          <div mat-card-avatar class="user-header-image"></div>

          <mat-card-title>Username: {{ user.username }}</mat-card-title>
        </mat-card-header> 
      </mat-card>  
    </a>
  </div>
</div>

