<div class="index">
  <p>Users: </p>

  <div *ngFor="let user of users"
    fxLayout="row" 
    fxLayoutAlign="space-around center"
    fxLayout.xs="column" 
    fxLayoutWrap 
    fxLayoutGap="5%">  
    <a [routerLink]="['/users', user.id]">
      <mat-card class="user-card">
        {{user|json}}
        <mat-card-header>        
          <div mat-card-avatar class="user-header-image"></div>

          <mat-card-title>Username: {{ user.username }}</mat-card-title>
        </mat-card-header> 
      </mat-card>  
    </a>
  </div>
</div>

