<!-- <button mat-button [matMenuTriggerFor]="menu"> -->
<!-- <button mat-button [matMenuTriggerFor]="menu" (click)="toggleState()"> -->
  <!-- <mat-icon *ngIf="state === 'inactive'">menu</mat-icon> -->
  <!-- <mat-icon *ngIf="state === 'active'">close</mat-icon> -->
<!--   <mat-icon>menu</mat-icon>
</button> -->

<!-- <mat-menu #menu="matMenu" #mobileMenu [ngClass]="{'active':mobileMenu.toggleState}"> -->
<!-- 
  <a mat-menu-item routerLink="/">Home</a>
  <a mat-menu-item routerLink="users">Users</a>
  <a mat-menu-item routerLink="listings">Listings</a>
  <a mat-menu-item routerLink="locations">Locations</a>
  <a mat-menu-item routerLink="groups">Groups</a> -->
<!-- </mat-menu> -->
