<!-- <div class="menu-container"> -->
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">  
    <!-- <a mat-menu-item routerLink="/" routerLinkActive="active-link">Home</a> -->
    <a mat-menu-item routerLink="users" routerLinkActive="active-link">Users</a>
    <a mat-menu-item routerLink="listings" routerLinkActive="active-link">Listings</a>
    <a mat-menu-item routerLink="locations" routerLinkActive="active-link">Locations</a>
    <a mat-menu-item routerLink="groups" routerLinkActive="active-link">Groups</a>
  </mat-menu>
<!-- </div>  -->