mat-card-title {
  font-size: 2em;
}

// .home {
//   background-image: url(src/assets/logos/pink_sky.jpeg);
//   opacity: 0.8;
//   background-repeat: no-repeat;
//   height: 100%;
// }

.intro {
  padding: 15%;
  background-color: rgba(255, 255, 255, 0.2);
}

.home-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
