<div class="home-container main">
  <div class="home">
    <div class="margin-auto intro">
      <img #box (click)="myFunc($event)" src="assets/logos/ABZX01.png" />
      <p>
        For people interested in barter trading Sign up and get a welcome email,
        you can:
      </p>

      <mat-list role="list">
        <mat-list-item role="listitem">See successful exchanges</mat-list-item>
        <mat-list-item role="listitem">Add your own listing</mat-list-item>
        <mat-list-item role="listitem"
          >Make an offer on a listing</mat-list-item
        >
        <mat-list-item role="listitem">Accept an offer</mat-list-item>
        <mat-list-item role="listitem">Complete an exchange</mat-list-item>
        <mat-list-item role="listitem">Add images, groups</mat-list-item>
        <mat-list-item role="listitem">Follow other users</mat-list-item>
        <mat-list-item role="listitem">Add comments</mat-list-item>
        <mat-list-item role="listitem"
          >Find direction to another users</mat-list-item
        >
        <mat-list-item role="listitem">Add comments</mat-list-item>
        <mat-list-item role="listitem"
          >Search listings, offers, users, images and comments</mat-list-item
        >
      </mat-list>
    </div>
  </div>
</div>
