.signup-container {
  flex: 1 0 auto;
  padding: 32px;

  #signup-form {
    width: 384px;
    max-width: 384px;
    padding: 32px;
    background: #FFFFFF;
    text-align: center;

    .logo {
      width: 250px;
      margin: 12px 30px 30px 30px;
    }

    .title {
      font-size: 20px;
      margin: 16px 0 32px 0;
    }
  }
  
  form {
    mat-form-field {
      width: 90%;
    }
  
    .submit-button {
      width: 150px;
      margin: 16px auto;
      display: block;
    }
  }
}