<div class="example-form index">
  <h4><label for="search-box">User Search</label></h4>

  <mat-form-field class="example-full-width">
    <input
      #searchBox
      id="search-box"
      matInput
      placeholder="username"
      aria-label="user"
      [matAutocomplete]="auto"
      (input)="search(searchBox.value)"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let user of users$ | async">
        <a routerLink="/users/{{ user.id }}">
          {{ user.username }}
        </a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
