<div class="alert alert-success">Welcome {{ currentUser }}!</div>
<div><label>Id: </label>{{ user.id }}</div>

<div><label>Username: </label>{{ user.username }}</div>

<div>
  <!-- <div *ngIf="user.bio"> -->
  <label>Bio: </label>{{ user.bio }}
</div>

<div><label>Email: </label>{{ user.email }}</div>

<div><label>Location Id: </label>{{ user.location_id }}</div>

<!-- <div><label>City: </label>{{ user.location.city }}</div> -->

<div><label>Created at: </label>{{ user.created_at }}</div>

<div><label>Updated at: </label>{{ user.updated_at }}</div>
