.groups-container {
  min-height: 100vh;
  background: url(src/assets/logos/straw-bag.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.group-card {
  max-width: 400px;
}

.group-header-image {
  background-image: url("/assets/logos/default.png");
  background-size: cover;
}
