<div class="group-container" fxLayout="column" fxLayoutAlign="space-between center">   
  <div id="forms">

    <div class="title">Create A New Group</div>
              
    <form *ngIf="groupForm" class="group-form" name="groupForm" [formGroup]="groupForm" #f="ngForm">

      <mat-form-field>
        <input matInput #groupName placeholder="Group Name" formControlName="groupName" required>
        <mat-error *ngIf="groupForm.get('groupName').invalid && groupForm.get('groupName').touched" class="alert alert-danger">
          Please enter a valid Group Name.     
        </mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput #groupDescription placeholder="Group Description" formControlName="groupDescription">

      </mat-form-field>

      <div formArrayName="tags">
        <h4>Tags</h4>
        <button
          class="btn btn-default"
          type="button"
          (click)="onAddTags()">Add Tags</button>
        <div
          class="form-group"
          *ngFor="let tagsControl of groupForm.get('tags').controls; let i = index">
          <input type="text" class="form-control" [formControlName]="i"> 
          <mat-error *ngIf="groupForm.get('tags').invalid && groupForm.get('tags').touched" class="alert alert-danger">
            Please enter a valid tag.     
          </mat-error>
        </div>
      </div>

      <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT" [disabled]="f.invalid" (click)="onSubmit()">
        SUBMIT
      </button>
    </form>
  </div>
</div>

<div class="index">
  <p>Groups Index: </p>
  <div *ngFor="let group of groups">
    <!-- {{ group |json }} -->
    <mat-card class="group-card">
      <mat-card-header>
        <div mat-card-avatar class="group-header-image"></div>
        <mat-card-title>Name: {{ group.name }}</mat-card-title>
        <mat-card-subtitle>Description: {{ group.description }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>