<div class="groups-container">
  <div>
    <app-group-search></app-group-search>
  </div>
  <div class="index">
    <!-- <button (click)="onNewGroup()">Add A New Group</button> -->

    <p>Groups:</p>

    <div
      *ngFor="let group of groups"
      fxLayout="row"
      fxLayoutAlign="space-around center"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="5%"
      class="card"
    >
      <a [routerLink]="['/groups', group.id]">
        <mat-card class="group-card">
          <!-- {{group|json}} -->
          <mat-card-header>
            <div mat-card-avatar class="group-header-image"></div>

            <mat-card-title>Name: {{ group.name }}</mat-card-title>
            <mat-card-title
              >Description: {{ group.description }}</mat-card-title
            >
          </mat-card-header>
        </mat-card>
      </a>
    </div>
  </div>
</div>
