<div class="alert alert-danger" *ngIf="error">error: {{ error }}</div>
<div *ngIf="isLoading" style="text-align: center;">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#fff"
    type="ball-spin-clockwise"
  >
  </ngx-spinner>
</div>

<div class="form-container" fxLayout="row wrap" fxLayoutAlign="center center">
  <div id="signin-form">
    <div class="logo"></div>

    <div class="title">Sign in to <a routerLink="/">ABZ-EXCHANGE!</a></div>

    <form
      *ngIf="signinForm"
      class="signin-form"
      name="signinForm"
      [formGroup]="signinForm"
      #f="ngForm"
    >
      <mat-form-field>
        <input
          matInput
          #email
          placeholder="Email"
          formControlName="email"
          required
          [pattern]="emailPattern"
        />
        <mat-error
          *ngIf="
            signinForm.get('email').invalid && signinForm.get('email').touched
          "
          class="alert alert-danger"
        >
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          #password
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error
          *ngIf="
            signinForm.get('password').invalid &&
            signinForm.get('password').touched
          "
          class="alert alert-danger"
        >
          Please enter a password.
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        class="submit-button"
        aria-label="SIGN IN"
        [disabled]="!f.valid"
        (click)="onSignin()"
      >
        SIGN IN
      </button>
    </form>
  </div>
</div>
