.listing-header-image {
  background-image: url("/assets/logos/default.png");
  background-size: cover;
}

.listings-container {
  min-height: 100vh;
  background: url(src/assets/logos/listing.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.listing-card {
  margin: 15px;
  min-width: 200px;
}
