<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to ABZ EXCHANGE</mat-card-title>
      <mat-card-subtitle>For people interested in barter trading
      Sign up and get a welcome email, you can:</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/logos/ABZX01.png">    
    <mat-card-content>
      See successful exchanges
      Add your own listing
      Make an offer on a listing
      Accept an offer
      Complete an exchange
      Add images
      Add groups
      Follow other users
      Add comments to listings, images and groups
      Find direction to reach another user
      Search listings, offers, users, images and comments.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="signin">SIGN IN</button>
      <button mat-raised-button routerLink="signup">SIGN UP</button>
    </mat-card-actions>
  </mat-card>
</div>
