<!-- <div *ngIf="group$ | async as group"> -->

  <div>
    <label>Id: </label>{{ location.id }}</div>
  <div>

  <div>
    <label>City: </label>{{ location.city }}</div>
  <div>
    
  <div>
    <label>State: </label>{{ location.state }}</div>
  <div>

  <div *ngIf="location.country">
    <label>Country: </label>{{ location.country }}</div>
  <div>  

  <div>
    <label>Longitude: </label>{{ location.longitude }}</div>
  <div>

  <div>
    <label>Latitude: </label>{{ location.latitude }}</div>
  <div>
<!-- </div> -->