<!-- <div *ngIf="group$ | async as group"> -->

  <div>
    <label>Id: </label>{{ location.id }} 
  </div>

  <div>
    <label>Number: </label>{{ location.number }} 
  </div>
  
  <div>
    <label>Street: </label>{{ location.street }} 
  </div>
    
  <div>
    <label>City: </label>{{ location.city }} 
  </div>
    
  <div>
    <label>State: </label>{{ location.state }} 
  </div>

  <div>
    <label>Country: </label>{{ location.country }} 
  </div>  

  <div>
    <label>Longitude: </label>{{ location.longitude }} 
  </div>

  <div>
    <label>Latitude: </label>{{ location.latitude }} 
  </div>

  <div>
    <label>Created at: </label>{{ location.created_at }} 
  </div>    

  <div>
    <label>Updated at: </label>{{ location.updated_at }}
  </div>
    
<!-- </div> -->